* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(179, 80, 80);
  flex-direction: column;
  padding: 50px 0;
}

section h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 20px;
}

section p {
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-bottom: 40px;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.texts p {
  color: black;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.96);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.texts p.reply {
  text-align: right;
}
